.typeflow-w {
    width: 80vw;
    height: 40vh;
    min-height: 300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    padding: 15px;
    font-size: 1.5em;
    overflow-y: hidden;
}

.word-w {
    margin-right: 10px;
}

.word-focused {
    background: #555;
}
.word-valid {
    background: #01cc7455;
}
.word-invalid {
    background: #ff222233;
}


.letter-focused {
    color: #ff4998;
    font-weight: bold;
    font-size: 1.7em;
}
.letter-valid {
    color: #01cc74
}
.letter-invalid {
    color: #ff2222;
}

.complete-w {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h2 {
    font-size: 2em;
}